body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color: lightgray;
    color: black;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Bangers', cursive;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-shadow: 0 0 21px red;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    text-transform: uppercase;
    font-family: 'Bangers', cursive;
}

#main span{
	font-family: 'Bangers', cursive;
	text-shadow: 0 0 21px white;
}


footer {
	padding-top: 150px;
	width:inherit;
	padding-bottom: 20px;
	font-weight: 150;
	font-size: 10px;
	text-align: left;
	text-transform: uppercase;
    transition: margin-left .5s;
    position: absolute;
    bottom: 0;
}

/*RESPONSIVE STYLING*/
@media (max-width: 1199px) {
	
	
	}

@media (max-width: 991px) {
	
	
	}

	@media (max-width: 767px) {
	


}
